<!doctype html>
<html lang="en">
  <head>
    <title>Analysis</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
  </head>
  <body>

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img src="/static/images/test.jpg" alt="Logo" style="width:40px;">
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
        <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Forex type
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">GBK</a>
              <a class="dropdown-item" href="#">EUR</a>
              <a class="dropdown-item" href="#">JAN</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">User</a>
          </li>                
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <form class="form-inline text-right">
                  <input class="form-control" type="text" placeholder="Search">
                  <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </li>
        </ul>
      </nav>
    
    <div class="container-fluid">
       <div class="row m-auto">
          <div class="col-sm-8 col-md-8 col-lg-8 mt-1 p-0">
            <div class="h-15 bg-secondary">
              <nav class="navbar navbar-expand-sm navbar-light">
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-warning" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Time Level</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">5 min</a>
                        <a class="dropdown-item" href="#">30 min</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-warning" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Image Type</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">柱状图</a>
                        <a class="dropdown-item" href="#">点图</a>
                      </div>
                    </li>
                  </ul>
                  
                </div>
              </nav>
            </div>
            <div class="h-85 image-fluid" id="mainImage" alt="logo" style="width: 100%;height:100%;">

              
              
            </div>
            
          </div>

         <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="h-50 mt-1 p-0">
              <div class="row">
                  <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="card">
                        <div class="card-header bg-primary">
                        <span>Canlendar</span>
                        
                        </div>
                        <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modelId">Active item</a>
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modelId">Item</a>
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#modelId">Item2</a>
                        <a href="#" class="list-group-item list-group-item-action">Item</a>
                        <a href="#" class="list-group-item list-group-item-action">Item</a>
                        <a href="#" class="list-group-item list-group-item-action">Item2</a>
                        <a href="#" class="list-group-item list-group-item-action">Item2</a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <button class="btn btn-outline-light text-dark btn-block btn-sm">More...</button>
                        </a>
                        </div>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                Body
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3 p-2 ">
                    
                    <div class="list-group ">
                        <button type="button" class="list-group-item list-group-item-action btn-lg btn-block m-2">HomePage</button>
                        <button type="button" class="list-group-item list-group-item-action btn-lg btn-block m-2">PredictPage</button>
                        <button type="button" class="list-group-item list-group-item-action disabled btn-lg btn-block m-2">Disabled item</button>
                    </div>

                </div>

              </div>
              


            </div>
            <div class="h-50" >

              
              <div class="card">
                <div class="card-header bg-primary">
                  News
                </div>
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action">Active item</a>
                  <a href="#" class="list-group-item list-group-item-action">Item</a>
                  <a href="#" class="list-group-item list-group-item-action">Item2</a>
                  <a href="#" class="list-group-item list-group-item-action">Item</a>
                  <a href="#" class="list-group-item list-group-item-action">Item</a>
                  <a href="#" class="list-group-item list-group-item-action">Item2</a>
                  <a href="#" class="list-group-item list-group-item-action">Item2</a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <button class="btn btn-outline-light text-dark btn-block btn-sm">More...</button>
                  </a>
                </div>
              </div>


            </div>          
         </div>
      </div>
     </div>





    <script type="text/javascript">
          var myChart = echarts.init(document.getElementById('mainImage'));
          var option = {
                        title: {
                            text: 'Echarts'
                        },
                        tooltip: {},
                        legend: {
                        },
                        xAxis: {
                          data: {{ timestamp|safe }}                     
                        },
                        yAxis: {

                        },
                        dataZoom: [
                                      {   // 这个dataZoom组件，默认控制x轴。
                                          type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                                          start: 0,      // 左边在 10% 的位置。
                                          end: 100         // 右边在 60% 的位置。
                                      },
                                      {   // 这个dataZoom组件，也控制x轴。
                                          type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
                                          start: 0,      // 左边在 10% 的位置。
                                          end: 100         // 右边在 60% 的位置。
                                      }
                                  ],
                        series: [ {
                                    name: 'open',
                                    type: 'bar',
                                    data: {{ Open|safe }} 
                                  },
                                  {
                                    name: 'high',
                                    type: 'bar',
                                    data: {{ High|safe }}
                                  },
                                  {
                                    name: 'low',
                                    type: 'bar',
                                    data: {{ Low|safe }}
                                  },
                                  {
                                    name: 'close',
                                    type: 'bar',
                                    data: {{ Close|safe }} 
                                  },
                                  {
                                    name: 'Volume',
                                    type: 'line',
                                    data: {{ Volume|safe }} 
                                  }
                        ]
                      };
          
      myChart.setOption(option);
    </script>





    </body>
</html>